@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
}

table thead th.sorting {
    background: url(/assets/imgs/sort_both.png) no-repeat center right;
    cursor: pointer;
}

table thead th.sorting_asc {
    background: url(/assets/imgs/sort_asc.png) no-repeat center right;
}

table thead th.sorting_desc {
    background: url(/assets/imgs/sort_desc.png) no-repeat center right;
}

@layer base {
    @font-face {
        font-family: 'Helvetica';
        src: url(/assets/fonts/helvetica/Helvetica-Bold.ttf);
        font-weight: bold;
    }

    @font-face {
        font-family: 'Helvetica';
        src: url(/assets/fonts/helvelica/Helvetica\ Regular.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Helvetica Neue';
        src: url(/assets/fonts/helvetica_neue/HelveticaNeueBold.otf);
        font-weight: 400;
    }
}